@using WebApplicationFlower.Models; 
@{
    
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home/index">Home</a></li>

            <li><a href="/home/aboutus">AboutUs</a></li>
            <li><a href="/home/contact">Contact</a></li>
            <li><a href="/product/index">Products</a></li>
        </ul>
    </div>
</nav>
<img src="~/Images/logo.jpg" width="100px" height="100px" />
<h2>Products</h2>
@{ 
    var l = ViewBag.Products;
    foreach(Product p in l)
            {
                
                <p> <img src="@p.Image" alt="rose" width="100px" height="100px" /> | @p.Id | @p.Name | @p.Color | @p.Price | <a href="/shop/cart/@p.Id">Add to cart</a></p>
             }
}




